@model ComponentComputer

@{
    ViewData["Title"] = "Delete Component Computer";
}
<form method="post" asp-action="Delete">
    <div class="card">
        <div class="card-header text-center fw-bold bg-danger">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            @*<input type="hidden" asp-for="Id"/>*@
            <div class="form-floating mb-2">
                <input asp-for="ProcessorId" class="form-control" readonly />
                <label asp-for="ProcessorId"></label>
                
            </div>
            <div class="form-floating mb-2">
                <input asp-for="HardDriveId" class="form-control" readonly />
                <label asp-for="HardDriveId"></label>
                
            </div>
            <div class="form-floating mb-2">
                <input asp-for="MotherBoardId" class="form-control" readonly />
                <label asp-for="MotherBoardId"></label>
                
            </div>
            <div class="form-floating mb-2">
                <input asp-for="RamId" class="form-control" readonly />
                <label asp-for="RamId"></label>
                
            </div>
            <div class="form-floating mb-2">
                <input asp-for="VideoCardId" class="form-control" readonly />
                <label asp-for="VideoCardId"></label>
                
            </div>
            <div class="form-floating mb-2">
                <input asp-for="UnitId" class="form-control" readonly />
                <label asp-for="UnitId"></label>
                
            </div>
            <div>
                
                <div class="d-grid gap-2  d-md-flex justify-content-md-center">
                    <button type="submit" class="btn btn-danger me-md-2 col-3">Delete</button>
                    <a asp-controller="ComponentComputer" asp-action="Index" class="btn btn-primary col-3">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

